.feature-subheader {
    color: #6c757d;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.jwt-card-body {
    height: 400px;
}

#jwt-input {
    border: 0 none;
    font-family: 'Cascadia Mono', 'Consolas', 'Courier New', Courier, monospace;
    font-size: 14px;
    height: 100%;
}

#jwt-input:focus {
    outline: none;
}