.feature-subheader {
    color: #6c757d;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#jwt-input {
    border: 0 none;
    font-family: 'Cascadia Mono', 'Consolas', 'Courier New', Courier, monospace;
}

#jwt-input:focus {
    outline: none;
}